<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Car Resale Prediction Project</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<h1>Car Resale Value Prediction</h1>
		<h3>Project by Sanket-Mathur</h3>
		<form method="POST" action="/">
			<p>Price (in Lakhs): 
				<input type="text" name="price" placeholder="eg. 5.00" required>
			</p>
			<p>Kilometers Driven: 
				<input type="number" name="kms" placeholder="eg. 25000" required>
			</p>
			<p>Fuel Type: 
				<input type="radio" name="fuel" value="0" required>Petrol 
				<input type="radio" name="fuel" value="1" required>Diesel 
				<input type="radio" name="fuel" value="2" required>CNG
			</p>
			<p>Seller Type: 
				<input type="radio" name="seller" value="0" required>Dealer 
				<input type="radio" name="seller" value="1" required>Individual 
			</p>
			<p>Transmission Type: 
				<input type="radio" name="trans" value="0" required>Manual 
				<input type="radio" name="trans" value="1" required>Automatic 
			</p>
			<p>Owner before you:  
				<input type="number" name="own" placeholder="eg. 0" required>
			</p>
			<p>Age of the Car:  
				<input type="number" name="age" placeholder="eg. 10" required>
			</p>
			<input type="submit" value="Calculate!">
			<input type="reset" value="Clear">
		</form>
		<h1><%=data%></h1>
	</body>
</html>
